In [1]:
import pandas as pd
dataset = pd.read_csv('general_data.csv')
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [3]:
from sklearn import preprocessing
Label_encoder=preprocessing.LabelBinarizer()  #labael.binarizer for 2 category like 'Yes'or'No.
dataset['Attrition']=Label_encoder.fit_transform(dataset['Attrition'])  #fit_transform is used to transform categorical in to binary.
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [15]:
#two diff dataset of attrition_Yes and att_No

## H0: There is no significant differences in the Distance From Home between attrition (Y) and attirition (N)
##Ha: There is significant differences in the Distance From Home between attrition (Y) and attirition (N)
dataset_No = dataset[dataset['Attrition']==0]
dataset_Yes = dataset[dataset['Attrition']==1]
from scipy.stats import pearsonr
from scipy.stats import mannwhitneyu
stats,p = mannwhitneyu(dataset_No.DistanceFromHome,dataset_Yes.DistanceFromHome)
print(stats,p)
if (p<0.05):
    print('Reject null Hypothesis')
elif (p>=0.05):
    print('Null hypothesis is accepted')

1312110.0 0.4629185205822659
Null hypothesis is accepted

In [14]:
##H0: There is no significant differences in the Age between attrition (Y) and attirition (N)

##Ha: There is significant differences in the Age between attrition (Y) and attirition (N)
stats,p = mannwhitneyu(dataset_No.Age,dataset_Yes.Age)
print(stats,p)
if (p<0.05):
    print('Reject null Hypothesis')
elif (p>=0.05):
    print(' Null hypothesis is acepteed')

961731.0 2.9951588479067175e-30
Reject null Hypothesis

In [13]:
##H0: There is no significant differences in the PercentSalaryHike between attrition (Y) and attirition (N)

##Ha: There is significant differences in the PercentSalaryHike between attrition (Y) and attirition (N).

stats,p = mannwhitneyu(dataset_No.PercentSalaryHike,dataset_Yes.PercentSalaryHike)
print(stats,p)
if (p<0.05):
    print('Reject null Hypothesis')
elif (p>=0.05):
    print('Null hypothesis is accepted')

1250640.0 0.018660129917539733
Reject null Hypothesis

In [16]:
##H0: There is no significant differences in the YearsAtCompany between attrition (Y) and attirition (N)

##Ha: There is significant differences in the YearsAtCompany between attrition (Y) and attirition (N).

stats,p = mannwhitneyu(dataset_No.YearsAtCompany,dataset_Yes.YearsAtCompany)
print(stats,p)
if (p<0.05):
    print('Reject null Hypothesis')
elif (p>=0.05):
    print('Null hypothesis is accepted')

923238.0 6.047598261693028e-37
Reject null Hypothesis

In [17]:
##H0: There is no significant differences in the YearsWithCurrManager  between attrition (Y) and attirition (N)

##Ha: There is significant differences in the YearsWithCurrManager between attrition (Y) and attirition (N).

stats,p = mannwhitneyu(dataset_No.YearsWithCurrManager,dataset_Yes.YearsWithCurrManager)
print(stats,p)
if (p<0.05):
    print('Reject null Hypothesis')
elif (p>=0.05):
    print('Null hypothesis is accepted')

957253.5 1.2365483142169503e-31
Reject null Hypothesis

In [ ]:
# Ttest

In [19]:
##H0: There is no significant differences in the Distance From Home between attrition (Y) and attirition (N).
##Ha: There is significant differences in the Distance From Home between attrition (Y) and attirition (N)
from scipy.stats import ttest_ind
stats,p=ttest_ind(dataset_No.DistanceFromHome,dataset_Yes.DistanceFromHome)
print(stats,p)
if (p<0.05):
    print('Reject null Hypothesis')
elif (p>=0.05):
    print('Null hypothesis is accepted')

0.6460416038042738 0.518286042805572
Null hypothesis is accepted

In [20]:
##H0: There is no significant differences in the StockOptionLevel between attrition (Y) and attirition (N).

##Ha: There is significant differences in the StockOptionLevel between attrition (Y) and attirition (N)
from scipy.stats import ttest_ind
stats,p=ttest_ind(dataset_No.StockOptionLevel,dataset_Yes.StockOptionLevel)
print(stats,p)
if (p<0.05):
    print('Reject null Hypothesis')
elif (p>=0.05):
    print('Null hypothesis is accepted')

0.45406097771582266 0.6498072937482536
Null hypothesis is accepted

In [21]:
##H0: There is no significant differences in the YearsAtCompany	 between attrition (Y) and attirition (N).

##Ha: There is significant differences in the YearsAtCompany between attrition (Y) and attirition (N)
from scipy.stats import ttest_ind
stats,p=ttest_ind(dataset_No.YearsAtCompany,dataset_Yes.YearsAtCompany)
print(stats,p)
if (p<0.05):
    print('Reject null Hypothesis')
elif (p>=0.05):
    print('Null hypothesis is accepted')

9.004357011787226 3.163883122491456e-19
Reject null Hypothesis

In [22]:

##H0: There is no significant differences in the TrainingTimesLastYear between attrition (Y) and attirition (N).

##Ha: There is significant differences in the TrainingTimesLastYear between attrition (Y) and attirition (N)
from scipy.stats import ttest_ind
stats,p=ttest_ind(dataset_No.TrainingTimesLastYear,dataset_Yes.TrainingTimesLastYear)
print(stats,p)
if (p<0.05):
    print('Reject null Hypothesis')
elif (p>=0.05):
    print('Null hypothesis is accepted')

3.2858496615530743 0.0010247061915374478
Reject null Hypothesis